@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Supermercado</h1>
    <p class="lead">Seja bem-vindo!!! Aqui você vai encontrar uma diversidade de produtos para poder comprar do conforto de sua casa!</p>
    <p><a href="../Home/Infos" class="btn btn-primary btn-lg">Saiba mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Produtos</h2>
        <p>
            Para saber quais são os produtos que temos disponíveis, clique aqui
        </p>
        <p><a class="btn btn-default" href="../Produtos">Ver produtos &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Novo por aqui?</h2>
        <p>Para comprar qualquer produto, é necessário registrar-se no site primeiro.</p>
        <p><a class="btn btn-default" href="../Pessoa/Cadastro">Cadastre-se &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pagamento</h2>
        <p>Quer saber mais sobre as formas de pagamento? Clique aqui</p>
        <p><a class="btn btn-default" href="../Home/Pagamento">Saiba mais &raquo;</a></p>
    </div>
</div>