@{
    ViewBag.Title = "Infos";
}
<h1>Supermercado</h1>
<h3>Tudo o que você precisa, você encontra aqui!</h3>
<h4>Veja nossos produtos</h4>
@Html.ActionLink("Ver Produtos", "TodosOsProdutos", "Produtos")
<h4>Faça seu cadastro</h4>
@Html.ActionLink("Cadastre-se", "Cadastro", "Pessoa")
<h4>Escolha a forma de pagamento</h4>
@Html.ActionLink("Escolher pagamento", "Pagamento", "Home")
<h4>E boas compras!</h4>

<p>
    Uma aplicação usando .Net Framework e MVC
</p>

